NODE_ENV=development
PORT=3000
SESSION_SECRET=replace-with-long-random-secret
BASE_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
MAP_INIT_LAT=35.6812
MAP_INIT_LNG=139.7671

MAP_INIT_ZOOM=7

DATABASE_URL＝"file:./dev.db"
